body {
    background-color: #F5F5DC;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main, header, footer {
    width: 90%; 
    max-width: 900px; 
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box; 
}

#presentacion, #sobre-mi, #hobbies, #contacto {
    text-align: center; 
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    color: #8B4513; 
}

img {
    border-radius: 50%; 
    border: 5px solid #FFDAB9; 
    display: block;
    margin: 20px auto; 
}