header {
    color: #778873;
    text-align: center;
}

h1 {
    font-family: "Revalia", sans-serif;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: "Revalia", sans-serif;
    font-weight: 400;
    text-align: left;
}

main {
    background-color: #F1F3E0;
    color: #778873;
    text-align: justify;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #A1BC98;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sobreMi {
    text-align: justify;
    color: #778873;
    font-size: 20px;
}

.lista {
    color: #778873;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}