body {   
       background-color: aquamarine;
}
    
.titulo {
    color: brown;
}

.contenedor-flex {
    justify-content: center ;
   align-items: center;     
            display: flex;
            height: 50;
}



