* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  height: 100;
}

h2 {
  color: #989696d5;
}

.site-header {
  background-color: #333;
  text-align: center;
  padding: 30px 0;
}
.site-title {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 15px;
}
.profile-img {
  display: block;
  margin: 0 auto 20px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.site-main {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section {
  max-width: 900px;
  margin: 8px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.list {
  list-style-type: disc;
  padding-left: 20px;
}

.site-footer {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background-color: #333;
  color: white;
}

.link {
  color: #0077cc;
}
